

<style>
    .related_custom.related_custom_cart img {
    width: 70% !important;
    margin: 0 auto;
}
    .related_custom.related_custom_cart {
    height: 256px;
}
.related_custom.related_custom_cart img {
    width: 50%;
    margin: 0 auto;
}
.related_width_cart .owl-nav button.owl-prev::after {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 6L9 12L15 18' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.related_width_cart .owl-nav button.owl-next::after {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><g id="chevron-right"><path id="Vector" d="M9 18L15 12L9 6" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></g></svg>');
}


.owl-nav button.owl-prev span,
.owl-nav button.owl-next span{
    display: none;
}
.related_custom {
    text-align: center;
    background: #f2f1f0;
    padding: 10px 35px 23px;
}
.related_custom.related_custom_cart h3 {
    margin: 0;
    margin-top: 18.22px;
    font-size: 14px;
    font-family: TstarP;
    font-weight: 900;
    text-transform: uppercase;
}

.related_custom.related_custom_cart h5{
    margin: 0;
    margin-top: 8px;
    font-size: 14px;
    font-family: TstarP;
    font-weight: 900;
    text-transform: uppercase;
}
    .related_custom a {
        text-decoration: none;
    }
    .related_width_cart{
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
    }
    .owl-nav button.owl-prev,
    .owl-nav button.owl-next {
    top: 50% !important;
    position: absolute;
}
.related_width_cart .owl-nav button.owl-next {
    right: -46px;
}
.related_width_cart .owl-nav button.owl-prev{
    left: -46px;
}
.custom-btn-flex {
    display: flex;
    flex-wrap: wrap;
}
.custom-cart-button .product-form__buttons button {
    width: 25px;
    height: 21px;
    font-size: 9px !important;
    font-family: 'TstarP';
    font-weight: 900 !important;
}
.custom_variant {
    display: flex;
    margin-top: 17px;
}

.cart-carousal .item img {
    width: 100%;
    max-width: 58%;
    margin: 0 auto;
}
.cart-carousal .item {
    padding: 7px 21.5px;
    background: #e9e9e9;
    text-align: center;
    height: 256px;
}
.custom_variant button {
    width: 25px !important;
    height: 21.5px !important;
    border-radius: 0 !important;
    background: white;
    border: 0.5px solid #a9a9a9;
    display: flex;
    align-items: center;
    justify-content: center;
}
p.cart_title {
    margin: 0;
    font-size: 14px;
    font-family: TstarP;
    font-weight: 900;
}
p.cart_value {
    margin: 0;
    font-size: 12px;
    font-family: TstarW;
    font-weight: 700;
    color: rgba(33, 35, 34, 0.70);
}
p.cart_price {
    margin: 0;
    font-size: 14px;
    font-family: TstarP;
    font-weight: 900;
}
.related_width_cart button.owl-prev,
.related_width_cart button.owl-next{
    top: 42% !important;
}

@media screen and (max-width:768px) {
    .custom_variant{
        flex-wrap: wrap;
        justify-content: center;
    }
    .cart-carousal .item img{
        max-width: 73%;
    }
}
</style>
{% assign collection_handle = product.metafields.custom.collection %}
{% assign collection_cart = collections[collection_handle] %}
      <div class="related_width_cart">
        
<div class="owl-carousel cart-carousal ">
            {% for product in collection_cart.products %}
                {% for option in product.options_with_values %}
                    {% if option.name == 'Color' %}
                        {% for values in option.values %}
                          <div class="item">
                         {% for variant in product.variants %}
                            {% if variant.option2 == values %}
                            {% if variant.image != blank %}
                                <img src=" {{ variant.image |  img_url: 'master' }}" alt="">
                               
                                {% else %}
                                <img src=" {{ product.featured_image |  img_url: 'master' }}" alt="">
                                
                                {% endif %}
                                {% break  %}
                            {% endif %}
                        {% endfor  %}  
                        <p class="cart_title">{{ product.title }}</p>
                        <p class="cart_value">{{ values }} </p>
                        <p class="cart_price"> {{ product.selected_or_first_available_variant.price | money }}</p>
                          
                           <div class="custom_variant">
                            {% for variant in product.variants %}

                              {% if variant.option2 == values %}

                                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                                    <input type="hidden" name="id" value="{{ variant.id }}">
                                    <div class="product-form__buttons">
                                      <button type="submit" name="add" class="reset-btn" {% if variant.available == false %}disabled{% endif %} style="font-size: 1rem;">
                                        {{ variant.option1 }}
                                        <div class="loading-overlay__spinner hidden">
                                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path ajax-spin" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg>
                                        </div>
                                      </button> 
                                       </div>
                                  {%- endform -%}
                               
                            
                            {% endif %}
                            
                            {% endfor %}
                            </div>  
                          </div>  


                        {% endfor %}
                {% endif %}
                {% endfor %}
            {% endfor %}
</div>
</div>

