<style>
  label.my_option {
    width: 68px !important;
    height: 55px !important;
    border-radius: unset !important;
    justify-content: center !important;
    align-items: center;
    text-align: center;
}
  label.my_option {
    padding: 17px !important;
    margin:0 !important;
        font-size: 15px;
    font-family: TstarW;
    font-weight: 900;
        color: #a9a9a9 !important;
}
  .custom_image {
    display: flex;
}
 .custom_image label.my_option {
    display: block !important;
    width: 100%; /* Ensure the label takes up the full width */
    height: auto; /* Allow the height to adjust based on the content */
    background-size: contain; /* Ensure the background image fits within the label */
}

  .product-form__input input[type=radio]:checked+label{
    border: 1px solid black;
    border-left: 1px solid black !important;
    color: black !important;
    background: none;
    font-size: 15px;
  }
  .product-form__input input[type=radio]+label {
      color: #a9a9a9 ;
    background-color: unset;
}
  .product-form__input input[type=radio].disabled+label{
        background: #f2f1f0;
    border: 0.5px solid #f2f1f0;
    border-left: 0 !important;
    text-decoration:none !important;
  }
  .product-form__input input[type=radio]:checked.disabled+label {
    background: #f2f1f0;
    border: 0.5px solid #f2f1f0;
    border-left: 0 !important;
    text-decoration: none !important;
    color: #a9a9a9!important;
}
  .product-form__input input[type=radio]+label {
    border: 0.5px solid #f2f1f0;
    border-left: 0 !important;
    background: no-repeat;
}
  .product-form__input input[type=radio].disabled:checked+label, .product-form__input input[type=radio]:disabled:checked+label{
        border: 1px solid black !important;
        border-left: 1px solid black !important;
  }
  .product-form__input input[type=radio].disabled+label:before {
    height: 0.5px !important;
    background: #a9a9a9;
    top: 25px !important;
    transform: rotate(142deg) !important;
    z-index: 1;
    width: 82px !important;
    left: -8px;
}
   .product-form__input input[type=radio]+label:hover {
    border-color: rgb(var(--color-foreground));
    border-left: 1px solid black !important;
}
.product-form__input input[type=radio][name=color].disabled+label:before {
    background: none;
  }
  label.line_not_variant::before {
    background: none !important;
}

</style>

{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
  %}
{% endcomment %}
{%- liquid
  assign variants_available_arr = product.variants | map: 'available'
  assign variants_option1_arr = product.variants | map: 'option1'
  assign variants_option2_arr = product.variants | map: 'option2'
  assign variants_option3_arr = product.variants | map: 'option3'

  assign product_form_id = 'product-form-' | append: section.id
-%}
 <div class="custom_image">
{%- for value in option.values -%}
  {%- liquid
    assign option_disabled = true

    for option1_name in variants_option1_arr
      case option.position
        when 1
          if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 2
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
        when 3
          if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
            assign option_disabled = false
          endif
      endcase
    endfor
  -%}

  {%- if block.settings.picker_type == 'button' -%}
  
      <input
      type="radio"
      id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
      name="{{ option.name }}"
      value="{{ value | escape }}"
      form="{{ product_form_id }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled disabled_my"
      {% endif %}
    >
  {% if product.variants[forloop.index0].image != blank and option.name == 'Color' %}
      <label
        for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
        style="background-image: url({{ product.variants[forloop.index0].image | img_url: '' }});height:93px;width:93px;background-size: cover; border-radius:0;"
        class="line_not_variant"
      ></label>
    {% else %}
      <label class="my_option" for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
       
        {{ value -}}
        <span class="visually-hidden my_product disabled_my">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
      </label>
    {% endif %}
  {%- elsif block.settings.picker_type == 'dropdown' -%}
    <option
      value="{{ value | escape }}"
      {% if option.selected_value == value %}
        selected="selected"
      {% endif %}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
 </div>

