<section class="drawerc" id="drawer-soldout" data-drawer-target>
  <div class="drawer__overlayc" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapperc">
    <div class="drawer__headerc">
      <div class="drawer__titlec">
      </div>
      
    </div>
    <div class="drawer__contentc contsold">
      <button class="drawer__closec closesold" data-drawer-close aria-label="Close Drawer">
        <svg width="20" height="7" viewBox="0 0 20 7" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19.8805 4.24877C20.0398 4.08737 20.0398 3.82569 19.8805 3.66427L17.2829 1.03409C17.1235 0.872694 16.8651 0.872694 16.7057 1.03409C16.5463 1.19551 16.5463 1.45719 16.7057 1.61859L19.0146 3.95652L16.7057 6.29446C16.5463 6.45587 16.5463 6.71755 16.7057 6.87895C16.8651 7.04035 17.1235 7.04035 17.2829 6.87895L19.8805 4.24877ZM-2.29938e-07 4.36982L19.5918 4.36982L19.5918 3.54323L-3.022e-07 3.54323L-2.29938e-07 4.36982Z" fill="black"/>
</svg>

</button>

      <div class="soldcontent">

        <h2>{{ product.title }}</h2>
        <span>{{ product.selected_or_first_available_variant.title }}</span>

        <div class="soldoutform">

          <span class="note">{{ "Register to receive a notification when this item comes back in stock." }}</span>

          <div class="dform">

            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="E-mail address"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'E-mail address' }}
                    </label>
                    </div>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      {%- if form.posted_successfully? -%} style="visibility:hidden; height:0 !important; min-height:0" {% endif %}
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      Notify me when  in stock
                    </button>
                  
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      {%- render 'icon-error' -%}
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                    data-drawer-close aria-label="Close Drawer"
                  >
                    YOU ARE ALL SET <br>
                    WE’LL LET YOU KNOW WHEN IT’S BACK.
                  </h3>
                {%- endif -%}
              {%- endform -%}
            
          </div>
          
        </div>

      </div>
    </div>
  </div>
</section>

<style>
  .size-img img {
    max-width: 100%;
}
  .dform input {
    background: transparent;
    border-color: rgba(0, 0, 0, 0.30) !important;
    margin-top: 24px;
}
.soldoutform .note {
    font-size: 11px;
    display: block;
    line-height: 1;
}
  .soldoutform {
    margin-top: 30px;
}
  .dform button#Subscribe {
    margin-top: 18px;
}
  .dform #ContactFooter-success {
    font-size: 12px;
    padding: 14px;
    background: #4FCC6D;
    color: #fff;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    cursor: pointer;
}
.size-img {
    margin-top: 40px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
  .drawerc {
    display: none;
  }
  .drawer__headerc {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drawer__wrapperc {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  z-index: 9999;
  overflow: auto;
  transition: transform 0.3s;
  will-change: transform;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  -webkit-transform: translateX(103%);
  transform: translateX(103%); /* extra 3% because of box-shadow */
  -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
  box-shadow: 0 2px 6px #777;
}
.drawer__contentc {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  padding: 1.5rem;
}
.drawerc.is-activec {
  display: block;
}
.drawerc.is-visiblec .drawer__wrapperc {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.drawerc.is-visiblec .drawer__overlayc {
  opacity: 0.5;
}
  .drawer__overlayc {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
    display: block !important;
}
  .closesold{
    background: none;
  }
  .drawer__contentc.contsold {
    margin-top: 35%;
    text-align: right;
    padding: 20px 60px;
}

.soldcontent {
    text-align: center;
    background: #F3EEE8;
    margin-top: 30px;
    padding: 20px;
}

.soldcontent h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 0 !IMPORTANT;
    line-height: 1;
}

.soldcontent span {
    font-size: 12px;
}
</style>

<script>
  var drawer = function () {
    if (!Element.prototype.closest) {
        if (!Element.prototype.matches) {
            Element.prototype.matches = Element.prototype.msMatchesSelector || Element.prototype.webkitMatchesSelector;
        }
        Element.prototype.closest = function (s) {
            var el = this;
            var ancestor = this;
            if (!document.documentElement.contains(el)) return null;
            do {
                if (ancestor.matches(s)) return ancestor;
                ancestor = ancestor.parentElement;
            } while (ancestor !== null);
            return null;
        };
    }

    var settings = {
        speedOpen: 50,
        speedClose: 350,
        activeClass: 'is-activec',
        visibleClass: 'is-visiblec',
        selectorTarget: '[data-drawer-target]',
        selectorTrigger: '[data-drawer-trigger]',
        selectorClose: '[data-drawer-close]',
    };

    var toggleccessibility = function (event) {
        if (event.getAttribute('aria-expanded') === 'true') {
            event.setAttribute('aria-expanded', false);
        } else {
            event.setAttribute('aria-expanded', true);
        }
    };

    var openDrawer = function (trigger) {
        var target = document.getElementById(trigger.getAttribute('aria-controls'));
        target.classList.add(settings.activeClass);
        document.documentElement.style.overflow = 'hidden';
        toggleccessibility(trigger);
        setTimeout(function () {
            target.classList.add(settings.visibleClass);
        }, settings.speedOpen);
    };

    var closeDrawer = function (event) {
        var closestParent = event.closest(settings.selectorTarget),
            childrenTrigger = document.querySelector('[aria-controls="' + closestParent.id + '"]');
        closestParent.classList.remove(settings.visibleClass);
        document.documentElement.style.overflow = '';
        toggleccessibility(childrenTrigger);
        setTimeout(function () {
            closestParent.classList.remove(settings.activeClass);
        }, settings.speedClose);
    };

    var clickHandler = function (event) {
        var toggle = event.target,
            open = toggle.closest(settings.selectorTrigger),
            close = toggle.closest(settings.selectorClose);
        if (open) {
            openDrawer(open);
        }
        if (close) {
            closeDrawer(close);
        }
        if (open || close) {
            event.preventDefault();
        }
    };

    var keydownHandler = function (event) {
        if (event.key === 'Escape' || event.keyCode === 27) {
            var drawers = document.querySelectorAll(settings.selectorTarget),
                i;
            for (i = 0; i < drawers.length; ++i) {
                if (drawers[i].classList.contains(settings.activeClass)) {
                    closeDrawer(drawers[i]);
                }
            }
        }
    };

    document.addEventListener('click', clickHandler, false);
    document.addEventListener('keydown', keydownHandler, false);
};
drawer();

</script>