{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .error_img{
    max-width:15px;
    height:15px;
    width:100%;
  }
  .error_msg{
    font-family:TstarW;
    font-weight:900;
    display:flex;
    align-items:center;
    gap: 10px
  }
  .incorrect_msg li{
    font-size:12px;
    font-weight:900;
    font-family: TstarW;
    line-height:18px;
    color:#00000080;
  }
  h4.recovery_messageno_show {
    display: none;
}
small#RecoverEmail-email-error {
    font-size: 16px;
    font-weight: 900;
    font-family: TstarW;
    line-height: 18px;
    margin: 40px 0 40px 25px;
    gap: 10px;
}

form.recovery_form {
<<<<<<< Updated upstream
    margin-top: 40px ;
=======
    margin-top: 40px !important;
>>>>>>> Stashed changes
}
{%- endstyle -%}

<style>
.customer .field label, a.recoverylink{
  font-size: 14px !important;
}
</style>
<div class="customer login section-{{ section.id }}-padding">
  <h1 id="recover" class="recover-d" tabindex="-1">
    {{ 'customer.recover_password.title' | t }}
  </h1>
  <div class="recover-d">
    <p>
      {{ 'customer.recover_password.subtext' | t }}
    </p>

    {%- form 'recover_customer_password', class: 'recovery_form' -%}
<h4 class="recovery_message {%- if form.errors -%} no_show {% endif %}"> We’ll send you an e-mail with instructions to reset your password.  </h4>
      {% assign recover_success = form.posted_successfully? %}
      {%- if form.errors -%}
        <small id="RecoverEmail-email-error" class="form__message">
          <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13">
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </svg>
          {% comment %} {{ form.errors.messages.form }} {% endcomment %}
          {{ 'No account found with the informed e-mail.' }}
        </small>
      {%- endif -%}
      <div class="field">
        <input
          type="email"
          value=""
          name="email"
          id="RecoverEmail"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          {% if form.errors %}
            aria-invalid="true"
            aria-describedby="RecoverEmail-email-error"
            autofocus
          {% endif %}
          placeholder="e-mail"
        >
        <label for="RecoverEmail">
          e-mail
        </label>
      </div>
      

      <button class="recoverybtn" style="max-width: 900px!important">
        {{ 'SEND RESET E-MAIL' }}
      </button>

      <a class="backlogin" thref=".login">
       <span class="create-account-link">Remember your password?</span> <span class="linklog">{{ 'Back to login.' }}</span>
      </a>
    {%- endform -%}
  </div>

  <h1 id="login" class="login-d" tabindex="-1">
    {{ 'customer.login_page.title' | t }}
  </h1>
  <div class="login-d">
    {%- if recover_success == true -%}
      <h3 class="form__message" tabindex="-1" autofocus>
        
        {{ 'We have sent you an email with instructions to reset your password.' }}
      </h3>
    {%- endif -%}
    {%- form 'customer_login', novalidate: 'novalidate' -%}
      {%- if form.errors -%}
        {% comment %} <h2 class="form__message" tabindex="-1" autofocus>
          <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
          <svg aria-hidden="true" focusable="false" viewBox="0 0 13 13">
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </svg>
          {{ 'templates.contact.form.error_heading' | t }}
        </h2> {% endcomment %}
        {% if form.errors %}
         <div class="error_msg_custom">
          <p class="error_msg" style="font-size: 16px;text-align:left;"><svg class="error_img" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0,0,256,256" ><g fill="#fa5252" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(4,4)"><path d="M58,32c0,14.359 -11.641,26 -26,26c-14.359,0 -26,-11.641 -26,-26c0,-14.359 11.641,-26 26,-26c14.359,0 26,11.641 26,26zM32.024,48.358c1.316,0 2.726,-1.53 2.726,-3.339c0,-1.902 -1.41,-3.388 -2.726,-3.388c-1.646,0 -2.774,1.485 -2.774,3.388c0,1.809 1.128,3.339 2.774,3.339zM33.5,37.99c0,0 1.375,-7.367 1.5,-9.504c0.182,-3.114 0,-12.476 0,-12.476h-6c0,0 -0.182,9.362 0,12.476c0.125,2.137 1.5,9.504 1.5,9.504z"></path></g></g></svg> Please adjust the following:</p>
          <ul class="incorrect_msg" style="list-style-type: disc; margin-left: 40px; margin-top: -15px;">
            <li>Incorrect email or password.</li>
          </ul>
         </div>
        {% endif %}
      {%- endif -%}

      <div class="field">
        <input
          type="email"
          name="customer[email]"
          id="CustomerEmail"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          {% if form.errors contains 'form' %}
            aria-invalid="true"
          {% endif %}
          placeholder="e-mail"
        >
        <label for="CustomerEmail">
          e-mail
        </label>
      </div>

      {%- if form.password_needed -%}
        <div class="ffield">
        <div class="field">
          <input
            type="password"
            value=""
            name="customer[password]"
            id="CustomerPassword"
            autocomplete="current-password"
            {% if form.errors contains 'form' %}
              aria-invalid="true"
            {% endif %}
            placeholder="{{ 'customer.login_page.password' | t }}"
          >
          <label for="CustomerPassword">
            {{ 'customer.login_page.password' | t }}
          </label>
        </div>

        <a class="recoverylink" thref=".recover" >
          forgot password?
        </a>
        </div>
      {%- endif -%}

      <button style="max-width: 900px!important">
        {{ 'customer.login_page.sign_in' | t }}
      </button>

      <a class="create-account-link" href="{{ routes.account_register_url }}">
        <span>Don’t have an account ?</span> <span class="login-cp">{{ 'customer.login_page.create_account' | t }}</span>
      </a>
    {%- endform -%}
  </div>

  {%- if shop.checkout.guest_login -%}
    <div>
      <hr>
      <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

      {%- form 'guest_login' -%}
        <button>
          {{ 'customer.login_page.guest_continue' | t }}
        </button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>
<script>

$('.recoverylink').click(function(){
  var tar = $(this).attr('thref');
  $(tar + '-d').css('display','block');
  $('.login-d').css('display','none');
});

$('.backlogin').click(function(){
  var tar = $(this).attr('thref');
  $(tar + '-d').css('display','block');
  $('.recover-d').css('display','none');
});
</script>
{% schema %}
{
  "name": "t:sections.main-login.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
